@font-face {
  font-family: "Roboto";
  src: url("./imports/fonts/Roboto-Regular.ttf");
}
@font-face {  
  font-family: "Roboto-bold";
  src: url("./imports/fonts/Roboto-Bold.ttf");
  }
@font-face {
  font-family: "Roboto-thin";
  src: url("./imports/fonts/Roboto-Thin.ttf");
} 
@font-face {  
  font-family: "Roboto-light";
  src: url("./imports/fonts/Roboto-Light.ttf");
} 
@font-face {
  font-family: "Roboto-italic";
  src: url("./imports/fonts/Roboto-Italic.ttf");
} 
@font-face {
  font-family: "Roboto-bold-italic";
  src: url("./imports/fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-thin-italic";
  src: url("./imports/fonts/Roboto-ThinItalic.ttf"); 
}
@font-face {
  font-family: "Roboto-light-italic";
  src: url("./imports/fonts/Roboto-LightItalic.ttf");
}

body{
  font-family: Roboto;
  background-color: #E3F2FD !important;
  text-rendering: optimizeLegibility;
}

.VehicleList{
  border: 1px solid black;
  border-radius: 15px;
  background-color: #3e94ec;
}

div.table-title {
  display: block;
  max-width: 600px;
  margin: auto;
  padding:5px;
}
.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style:normal;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
div.VehicleList > table > thead > tr > th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

div.VehicleList > table > thead > tr > th:first-child {
  border-top-left-radius:3px;
}
 
div.VehicleList > table > thead > tr > th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
div.VehicleList > table > tbody > tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
div.VehicleList > table > tbody > tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
div.VehicleList > table > tbody > tr:first-child {
  border-top:none;
}

div.VehicleList > table > tbody > tr:last-child {
  border-bottom:none;
}
 
div.VehicleList > table > tbody > tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
div.VehicleList > table > tbody > tr:nth-child(odd):hover td {
  background:#4E5066;
}

div.VehicleList > table > tbody > tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
div.VehicleList > table > tbody > tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
div.VehicleList > table > tbody > tr > td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

div.VehicleList > table > tbody > tr > td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

div.VehicleList > table > tbody > tr > td.text-left {
  text-align: left;
}

div.VehicleList > table > tbody > tr > td.text-center {
  text-align: center;
}

div.VehicleList > table > tbody > tr > td.text-right {
  text-align: right;
}

table.table-fill > tbody.table-hover {
  display:block;
  overflow:auto;
  overflow-y: scroll;
  height: 300px;
}
table.table-fill > thead, table.table-fill > tbody.table-hover tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
table.table-fill > thead {
  width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
#root > div > div.App > div > main > div.MuiPaper-root-20.MuiPaper-elevation2-24.MuiPaper-rounded-21.SimpleTable-root-144 > table > tbody > tr:hover{
  background: #eeeeee;
}
.logLoginPaper{
  overflow: auto;
}
.paper{
  margin-bottom: 15px;
  overflow-x: auto;
}
.chartContainer{
  display: inline-block;
  width: 31%;
}
div.chartContainer:nth-child(2){
  margin-left: 3.5%;
  margin-right: 3.5%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.NameMenu{
  position: absolute;
  right: 24px;
  font-size: 1rem;
  font-family: Roboto-light;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#root > div > div > header > div > div > button.NameButton{
  color: #FFFFFF ;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
#root > div > div > header > div > div > button.NameButton > span.MuiButton-label-105{

  text-shadow: 1px 1px #000000;
} 
.MapContainer{
  position: relative;
  display: block;
  height: 1000px;

}
a{
  text-decoration: none;
}
.third-page-paper{
  width: 32.5%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 20px;
}
.two-thirds-page-paper{
  width: 66%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 20px;
}
.third-page-right{
  margin-left: 1.25%;
}
.paper1{
  margin-right: 1%;
}
.paper2{
  margin-left: 1%;
}
#simple-menu > div.MuiPaper-root-20.MuiMenu-paper-130.MuiPaper-elevation8-30.MuiPaper-rounded-21.MuiPopover-paper-131 > ul > a{
  text-decoration: none;
}
.SettingsPaper{
  padding: 20px;
}
.singleSetting{
  position: relative;
}
.inrowSetting{
  display: inline-block;
}
button.settingButton{
  margin-top: 28px;
  margin-left: 30px;
}
.form__row{
  display: block;
  clear: both;
}
.form__input{
  display: inline-block;
  width: calc(100% - 115px);
  border-radius: 10px;
  padding: 10px 5px;
  margin: 15px 5px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
div.form__row > button.form__button{
  display: inline-block;
  float: right;
  max-width: 70px;    
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  margin-left: .5%;
  margin-top: 14px;
  margin-right: 2.5%;
  box-shadow: 1px 1px #000000;

  
}
.singleMessageRow{
  overflow: auto;
}
/* Single message */
.singleMessage{
  position: relative;
  float: left;
  min-height: 60px;
  clear: both;
  margin-left: 10px;
}
.singleMessage-right{
  position: relative;
  float: right;
  min-height: 60px;
  clear: both;
  margin-right: 10px;
}
.message__author{
  display: block;
  position: relative;
}
div.singleMessage-right > span.message__author{
  text-align: right;
}
.speech-bubble-left {
  display: block;
  box-shadow: 1px 1px #AAAAAA;
  max-width: 300px;
  font-size: 14px;
	position: relative;
	background: rgba(215, 222, 226, 0.8);
  border-radius: .4em;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.speech-bubble-right {
  display: block;
  box-shadow: 1px 1px #AAAAAA;
  max-width: 300px;
  font-size: 14px;
	position: relative;
	background: rgba(149, 202, 233, 0.8);
  border-radius: .4em;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 15px;
}

/* 

.speech-bubble-left:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-bottom-color: rgba(215, 222, 226, 0.9);;
	border-top: 0;
	border-left: 0;
	margin-left: 10px;
	margin-top: -22px;
}
The end of Single message */
.paper_inline{
  display: inline-block;
}
.paper_scroll{
  display: inline-block;
  float: right;
  height: 100%;
  margin-bottom: -50px;
  text-align: center;
}
.chat{
  margin: 0;
  padding: 5px !important;
}
.chat_paper{
  width: 100%;
}
.oneRecipient:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #8e99f3;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}
.oneRecipient:hover:before{
  transform: scaleX(1);
}
.oneRecipient{
  padding: 10px;
  transition: background-color 0.5s ease;
}
.oneRecipient:hover{
  color: #FFF;
}
div.oneRecipient.selected {
  color: #FFF;
  transition: background-color 0.5s ease;
  background: #3f51b5;
}
div.col-3.chat > div > div{
  display:inline-block;
  width:100%;
  position:relative;
  cursor:pointer;
  z-index:0;
}
.inrowField{
  display: inline-block;
}
form > div.inRowInput{
  margin-right: 10px;
}
.addPaper{
  padding: 25px;
}
form.addVehForm > div.selectForm
{
  min-width: 100px;
  margin-top: 16px;
}
form.addVehForm > div.row > div > div.selectForm{
  min-width: 70%;
  margin-top: 16px;
}
.mapPaper{
  height: 80vh;
  position: relative;
  display: block;
}
.mapGoogle{
  
    height: 80vh !important;
}

#root > div > div > main > div > div > div > form > div.addPageButtonContainer> button.addButton{
  max-width: 200px;
  position: absolute;
  bottom: -8px;
  right: 5px;
}
.addPageButtonContainer{
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: block;
  margin-top: 5px;
  height: 40px;
}
.half-page-paper-holder{
  display: inline-block;
}

.half-page-paper{
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}
.half-page-paper-right{
  margin-left: 2%;
}
table > tbody > tr> td > button.deleteButton{
  color: #fff;
  background-color: #e10050;
  padding: 4px;
  font-size: 0.8125rem;
}
table > tbody > tr> td > button.deleteButton:hover{
  background-color: #9d0038;
}
table.removeWarehouseTable > tbody > tr > th,
table.removeWarehouseTable > tbody > tr > td,
table.removeWarehouseTable > thead > tr > th,
table.removeRegionTable > tbody > tr > th,
table.removeRegionTable > tbody > tr > td,
table.removeRegionTable > thead > tr > th{
  padding: 10px;
  text-align: center;
}

tbody.LoginLogsBody {
  display:block;
  height:158px;
  overflow:auto;
}
thead.LoginLogsHead, tbody.LoginLogsBody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead.LoginLogsHead {
  width: calc( 100% - 1em )
}
table.LoginLogs {
  width:100%;
} 
form.addVehForm > div.datePicker{
  margin-left: 4%;
}

form > div.halfFormControl,
form > div.halfDatePicker{
  width: 48%;
}
h1.TableTitle{
  margin-top: 15px;
  margin-left: 15px;  
}
form > div.fullWidth{
  width: 100%;
}
table > tbody > tr > td.green-text{
  color: #008000;
}
form.addVehForm > div.row > div.col-lg-6 > div.inrowField{
  width: 100%;
}
#root > div > div > main > div:nth-child(2) > div:nth-child(1) > div.MuiPaper-root-20.MuiPaper-elevation2-24.MuiPaper-rounded-21.paper.two-thirds-page-paper.third-page-right{
  overflow-x: auto;
}
.messaging_row{
  max-height: 80vh;
}
div > div > div > div.messaging_row > div > div.paper_inline.chat_paper{
  height: 80vh;
}
div > div > div > div.messaging_row > div > div.paper_inline.chat_paper > div.form{
  height: 80vh;
}
div > div > div > div.messaging_row > div > div.paper_inline.chat_paper > div.form > div.form__message{
  overflow-y: scroll;
  height: 90%;
}
div > div > div > div.messaging_row > div > div.paper_inline.chat_paper > div.form > div.form__row{
  height: 10%;
}
div > div.container-messaging{
  margin-bottom: 30px;
}
#root > div > div > header > div > h6 > div > span.span-in-title{
  font-size: 0.9rem;
}
div.nameholder-div{
  font-size: 1.25rem;
} 
div.row > div > div.warehouseTable{
  overflow-x: auto;
}
