@font-face {
  font-family: "Roboto";
  src: url("./imports/fonts/Roboto-Regular.ttf");
}
@font-face {  
  font-family: "Roboto-bold";
  src: url("./imports/fonts/Roboto-Bold.ttf");
  }
@font-face {
  font-family: "Roboto-thin";
  src: url("./imports/fonts/Roboto-Thin.ttf");
} 
@font-face {  
  font-family: "Roboto-light";
  src: url("./imports/fonts/Roboto-Light.ttf");
} 
@font-face {
  font-family: "Roboto-italic";
  src: url("./imports/fonts/Roboto-Italic.ttf");
} 
@font-face {
  font-family: "Roboto-bold-italic";
  src: url("./imports/fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-thin-italic";
  src: url("./imports/fonts/Roboto-ThinItalic.ttf"); 
}
@font-face {
  font-family: "Roboto-light-italic";
  src: url("./imports/fonts/Roboto-LightItalic.ttf");
}

body{
  font-family: Roboto;
  background-color: #E3F2FD !important;
  text-rendering: optimizeLegibility;
}

.VehicleList{
  border: 1px solid black;
  border-radius: 15px;
  background-color: #3e94ec;
}

div.table-title {
  display: block;
  max-width: 600px;
  margin: auto;
  padding:5px;
}
.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style:normal;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
div.VehicleList > table > thead > tr > th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

div.VehicleList > table > thead > tr > th:first-child {
  border-top-left-radius:3px;
}
 
div.VehicleList > table > thead > tr > th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
div.VehicleList > table > tbody > tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
div.VehicleList > table > tbody > tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
div.VehicleList > table > tbody > tr:first-child {
  border-top:none;
}

div.VehicleList > table > tbody > tr:last-child {
  border-bottom:none;
}
 
div.VehicleList > table > tbody > tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
div.VehicleList > table > tbody > tr:nth-child(odd):hover td {
  background:#4E5066;
}

div.VehicleList > table > tbody > tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
div.VehicleList > table > tbody > tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
div.VehicleList > table > tbody > tr > td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

div.VehicleList > table > tbody > tr > td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

div.VehicleList > table > tbody > tr > td.text-left {
  text-align: left;
}

div.VehicleList > table > tbody > tr > td.text-center {
  text-align: center;
}

div.VehicleList > table > tbody > tr > td.text-right {
  text-align: right;
}

table.table-fill > tbody.table-hover {
  display:block;
  overflow:auto;
  overflow-y: scroll;
  height: 300px;
}
table.table-fill > thead, table.table-fill > tbody.table-hover tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
table.table-fill > thead {
  width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
#root > div > div.App > div > main > div.MuiPaper-root-20.MuiPaper-elevation2-24.MuiPaper-rounded-21.SimpleTable-root-144 > table > tbody > tr:hover{
  background: #eeeeee;
}

.paper{
  margin-bottom: 15px;
}
.chartContainer{
  display: inline-block;
  width: 31%;
}
div.chartContainer:nth-child(2){
  margin-left: 3.5%;
  margin-right: 3.5%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.NameMenu{
  position: absolute;
  right: 24px;
  font-size: 1rem;
  font-family: Roboto-light;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#root > div > div > header > div > div > button.NameButton{
  color: #FFFFFF ;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
#root > div > div > header > div > div > button.NameButton > span.MuiButton-label-105{

  text-shadow: 1px 1px #000000;
} 
.MapContainer{
  position: relative;
  display: block;
  height: 1000px;

}
a{
  text-decoration: none;
}
.half-page-paper{
  width: 49%;
  display: inline-block;
}
.paper1{
  margin-right: 1%;
}
.paper2{
  margin-left: 1%;
}
#simple-menu > div.MuiPaper-root-20.MuiMenu-paper-130.MuiPaper-elevation8-30.MuiPaper-rounded-21.MuiPopover-paper-131 > ul > a{
  text-decoration: none;
}